@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%;
  color: #000000;
  font-size: 1.4rem; }

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6, p, a, span, small, i, dd, dt, dl, label, li, ul, ol, strong, b, u {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

/*------------------------------------------------------------
Header
------------------------------------------------------------*/
.header {
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 30px 0 20px;
  transition: background .2s ease-out; }
  .header__inner {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 960px;
    margin: 0 auto;
    justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .header__logo {
      margin-left: 13px; } }
  .header__nav {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 800px;
    justify-content: flex-end; }
    .header__nav a {
      height: 32px;
      display: block;
      overflow: hidden; }
      .header__nav a:hover img {
        margin-top: -32px; }
    .header__nav li {
      background: url("../img/index/nav_dots.png") no-repeat;
      background-position: right center; }
      .header__nav li.is-active img {
        margin-top: -32px; }
    @media only screen and (max-width: 768px) {
      .header__nav {
        display: none; } }
  .header .nav__top {
    width: 60px; }
  .header .nav__lens {
    width: 225px;
    margin-left: 20px; }
  .header .nav__product {
    width: 103px;
    margin-left: 20px; }
  .header .nav__oem {
    width: 110px;
    margin-left: 20px; }
  .header .nav__about {
    width: 145px;
    background: none;
    margin-left: 20px; }
  .header .nav__contact {
    width: 141px;
    background: none; }
  .header.is-active {
    background: #fff;
    border-bottom: 1px solid #d5dadf; }
  @media only screen and (max-width: 768px) {
    .header {
      position: relative;
      padding: 15px 0 14px;
      background: #fff; }
      .header__logo img {
        zoom: .5; } }
  .header .nav__btntop {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50px; }
    .header .nav__btntop img {
      width: 100%; }

@media only screen and (max-width: 768px) {
  .menu__mobile .nav__header {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    background-color: #fff;
    height: 100%;
    z-index: 0;
    border-left: 1px solid #fff; }
    .menu__mobile .nav__header img {
      zoom: .5; }
    .menu__mobile .nav__header li {
      width: 100%;
      margin-left: 0; }
      .menu__mobile .nav__header li a {
        color: #292929; }
  .menu__mobile .nav__neo {
    background: #d8e7f1 url("../img/menu/nav_p_neo_bg.gif") right top no-repeat;
    height: 50px;
    background-size: 270px auto; } }

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  width: 100%;
  background: #eff2f4;
  color: #292929;
  position: relative; }
  .footer nav {
    background: url("../img/index/footer_bg.png") center top no-repeat; }
  .footer__pageTop {
    position: absolute;
    top: -78px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .footer__pageTop {
        top: -38px; }
        .footer__pageTop img {
          zoom: .5; } }
  .footer__inner {
    width: 960px;
    margin: 0 auto;
    padding-top: 65px; }
    @media only screen and (max-width: 768px) {
      .footer__inner {
        width: 100%;
        padding-top: 40px; }
        .footer__inner.pc {
          display: none; } }
  .footer__nav01 {
    float: left;
    width: 313px; }
  .footer__nav02 {
    float: left;
    width: 313px;
    margin-left: 23px; }
  .footer__nav03 {
    float: left;
    width: 288px;
    margin-left: 23px; }
  .footer ul li {
    margin-bottom: 25px; }
    @media only screen and (max-width: 768px) {
      .footer ul li {
        margin-bottom: 0; } }
    .footer ul li ul {
      margin: 2px 0 0 20px; }
      @media only screen and (max-width: 768px) {
        .footer ul li ul {
          margin: 0; } }
      .footer ul li ul li {
        background: url("../img/index/fnav_arw.gif") left center no-repeat;
        font-size: 11px;
        margin-bottom: 5px;
        padding-left: 10px; }
        @media only screen and (max-width: 768px) {
          .footer ul li ul li {
            padding-left: 0;
            background: none;
            margin-bottom: 0; } }
  .footer ul a {
    color: #292929; }
    .footer ul a:hover {
      text-decoration: underline; }
  .footer dl {
    margin-left: 20px; }
  .footer dt {
    margin-top: 6px; }
  .footer dd {
    background: url("../img/index/fnav_arw.gif") left center no-repeat;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-left: 3px;
    font-size: 1.1rem; }
  @media only screen and (max-width: 768px) {
    .footer .nav {
      background: none; } }
  .footer__bnrArea {
    text-align: center;
    margin-top: 45px;
    padding-bottom: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .footer__bnrArea {
        padding-bottom: 0;
        margin-top: 15px; }
        .footer__bnrArea a {
          display: block;
          margin-bottom: 10px;
          width: 100%; }
        .footer__bnrArea img {
          zoom: .5;
          margin: 0 auto; } }
    .footer__bnrArea img {
      padding: 0 20px; }
      .footer__bnrArea img:hover {
        opacity: .7; }
  .footer__copyright {
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 20px; }
    .footer__copyright small {
      font-size: 1.1rem;
      font-weight: normal;
      color: #404040; }
      @media only screen and (max-width: 768px) {
        .footer__copyright small {
          font-size: .7rem; } }
    @media only screen and (max-width: 768px) {
      .footer__copyright {
        font-size: .9rem;
        margin-top: 0;
        padding-bottom: 10px; } }

@media only screen and (max-width: 768px) {
  .nav img {
    zoom: .5; }
  .nav li {
    list-style-type: none; }
  .nav__product {
    background: #b1cee3;
    border-bottom: 1px solid #fff; }
  .nav__btn {
    height: 50px;
    background: #d8e7f1 url("../img/menu/nav_p_bg.gif") right top no-repeat;
    background-size: 270px auto;
    cursor: pointer;
    border-bottom: 1px solid #fff; }
    .nav__btn.is-open {
      height: 50px;
      background: #d8e7f1 url("../img/menu/nav_p_bg_o.gif") right top no-repeat;
      background-size: 270px auto;
      cursor: pointer;
      border-bottom: 1px solid #fff; }
  .nav__list {
    display: none; }
    .nav__list li {
      margin-bottom: 0; }
      .nav__list li:hover a {
        text-decoration: none; }
    .nav__list a {
      display: block;
      height: 50px;
      background: url("../img/menu/nav_second_bg.gif") right top no-repeat;
      background-size: 270px auto;
      font-size: 1.1rem;
      line-height: 50px;
      padding-left: 15px;
      border-bottom: 1px solid #cbdeec; }
    .nav__list img {
      vertical-align: -5px;
      padding-left: 10px; }
  .nav__neo {
    background: #d8e7f1 url("../img/menu/nav_p_neo_bg.gif") right top no-repeat;
    height: 50px;
    background-size: 270px auto; }
  .nav__pc {
    background: #b1cee3;
    text-align: center;
    border-bottom: 1px solid #fff; }
  .nav__out {
    background: #b1cee3 url("../img/menu/nav_out_bg.gif") right top no-repeat;
    height: 50px;
    background-size: 270px auto;
    cursor: pointer;
    border-bottom: 1px solid #fff; } }

/*------------------------------------------------------------
BREADCRUMB 
------------------------------------------------------------*/
.toparea {
  background: url("../img/products/headarea_bg.gif") center bottom repeat-x;
  opacity: 1;
  margin-bottom: 25px; }
  @media only screen and (max-width: 768px) {
    .toparea {
      background: none; } }
  .toparea__inner {
    height: 140px;
    position: relative;
    width: 960px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .toparea__inner {
        width: 100%;
        display: block;
        height: 160px; } }
    @media only screen and (max-width: 480px) {
      .toparea__inner {
        height: 90px; } }
    .toparea__inner a {
      display: block;
      width: 100%; }
      @media only screen and (max-width: 768px) {
        .toparea__inner a img {
          max-width: 100%;
          margin: 0 auto; } }

.breadcrumb {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px; }
  @media only screen and (max-width: 768px) {
    .breadcrumb {
      margin-top: -15px;
      justify-content: flex-end; } }
  @media only screen and (max-width: 480px) {
    .breadcrumb {
      margin-top: 5px; } }
  .breadcrumb li {
    padding-left: 20px;
    padding-right: 15px;
    font-size: 1.1rem;
    background: url("../img/products/topicpath_dots.png") left 6px no-repeat; }
    @media only screen and (max-width: 768px) {
      .breadcrumb li {
        font-size: 1rem; }
        .breadcrumb li:first-child {
          padding-left: 13px; } }
  .breadcrumb li.breadcrumb__home {
    background: none; }
  .breadcrumb a {
    color: #699ec7;
    text-decoration: none; }
    .breadcrumb a:hover {
      text-decoration: underline; }

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.wrapper {
  min-width: 960px;
  width: 100%;
  height: 100%;
  margin: auto; }
  @media only screen and (max-width: 768px) {
    .wrapper {
      overflow-x: hidden;
      min-width: auto;
      z-index: 1;
      position: relative;
      background: #fff;
      transition: transform .3s linear 0s;
      transform: translate3d(0px, 0px, 0px); }
      .wrapper.is-active {
        transition: transform .3s linear 0s;
        transform: translate3d(-270px, 0px, 0px); } }

.container {
  width: 100%;
  margin: auto;
  position: relative;
  background: #fff; }

.content {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 123px; }
  @media only screen and (max-width: 768px) {
    .content {
      width: 100%;
      padding-bottom: 40px; } }

.main {
  float: right;
  width: 692px; }
  @media only screen and (max-width: 768px) {
    .main {
      width: 100%; } }

.mainArea {
  overflow: hidden; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

/*------------------------------------------------------------
Component Components
------------------------------------------------------------*/
p {
  color: #292929;
  transition: all .3s; }

.pc {
  display: block; }
  @media only screen and (max-width: 768px) {
    .pc {
      display: none; } }

.sp {
  display: none; }
  @media only screen and (max-width: 768px) {
    .sp {
      display: block; } }

.border-top {
  border-top: 1px solid #b4cee3; }

.clear {
  clear: both; }

.oem__box h2.pb0 {
  padding-bottom: 0; }

.text-center {
  text-align: center; }

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .btn--2cl {
    text-align: center;
    padding: 0 10px; } }

.btn--2cl a {
  float: left;
  margin-right: 20px;
  margin-top: 28px;
  display: inline-block; }
  .btn--2cl a:nth-child(2) {
    margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .btn--2cl a {
      width: 100%;
      margin-top: 20px;
      margin-right: 0; }
      .btn--2cl a img {
        max-width: 100%; } }

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*------------------------------------------------------------
INFOMATION 
------------------------------------------------------------*/
.info {
  margin: 66px auto 0 auto;
  padding-bottom: 80px;
  width: 960px; }
  @media only screen and (max-width: 768px) {
    .info {
      width: 100%;
      margin: 10px auto 0 auto;
      padding-bottom: 60px; } }
  .info h2 {
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .info h2 img {
        zoom: .7; } }
  .info__listPost {
    width: 680px;
    margin: 40px auto 30px auto;
    font-size: 1.2rem; }
    @media only screen and (max-width: 768px) {
      .info__listPost {
        font-size: 1rem;
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 15px auto 0px auto; }
        .info__listPost li {
          width: 100%;
          display: flex;
          text-align: left;
          padding-bottom: 5px; } }
    .info__listPost .datePost {
      width: 100px;
      padding-bottom: 20px;
      display: inline-block;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .info__listPost .datePost {
          width: 25%;
          padding-right: 10px;
          padding-bottom: 8px; } }
  .info a {
    color: #292929; }
    .info a:hover {
      text-decoration: underline; }
    @media only screen and (max-width: 768px) {
      .info a {
        width: 75%; } }
  .info__link {
    margin: 0 auto;
    display: block;
    text-align: center; }
    .info__link img {
      margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .info__link {
        padding-top: 5px; }
        .info__link img {
          max-width: 100%;
          zoom: .5; } }

.sidebar {
  width: 220px;
  height: 100%;
  float: left; }
  @media only screen and (max-width: 768px) {
    .sidebar {
      display: none; } }
  .sidebar ul {
    width: 100%;
    margin-bottom: 33px; }
  .sidebar li {
    position: relative;
    padding-bottom: 1px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sidebar li:after {
      content: '';
      background: url(../img/sidebar/snav_line.gif) no-repeat center;
      background-size: cover;
      width: 100%;
      height: 1px; }
    @media only screen and (max-width: 768px) {
      .sidebar li img {
        zoom: 80%; } }
  .sidebar a {
    display: block; }
  .sidebar .no-dot:after {
    content: none; }
  .sidebar p.border_bt {
    border-bottom: 1px solid #b4cee3; }

/*------------------------------------------------------------
Animation
------------------------------------------------------------*/
.fadeOutUp {
  opacity: 0;
  transform: translateY(80px);
  transition: all 1s; }

.fadeIn {
  opacity: 1;
  transform: translateY(0px); }
