div.pb0 {
  padding-bottom: 0; }

div.mb0, img.mb0 {
  margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  section.pb_mobile20 {
    padding-bottom: 20px; } }

div p.tcenter {
  text-align: center; }

/*------------------------------------------------------------
PRODUCT 
------------------------------------------------------------*/
.products {
  padding-top: 150px; }
  @media only screen and (max-width: 768px) {
    .products {
      padding-top: 30px; }
      .products .toparea__inner {
        height: 100%; }
        .products .toparea__inner a img {
          zoom: .7;
          margin: 0;
          width: 100%; }
        .products .toparea__inner h1 img {
          zoom: 1; }
      .products .breadcrumb {
        margin-top: -20px; } }
  .products .product__box.content {
    width: 960px;
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 123px; }
    @media only screen and (max-width: 768px) {
      .products .product__box.content {
        width: 100%;
        padding: 0 10px 80px 10px; } }
    .products .product__box.content section li {
      width: 290px;
      border: 1px solid #d5dadf;
      position: relative;
      margin-bottom: 42px;
      margin-right: 42px;
      color: #292929;
      font-size: 12px;
      transition: all 0.3s ease-out; }
      @media only screen and (max-width: 768px) {
        .products .product__box.content section li {
          margin-left: 0;
          width: 49%;
          margin: 0 2% 2% 0; }
          .products .product__box.content section li:nth-child(even) {
            margin-right: 0; } }
    .products .product__box.content section a {
      display: block;
      width: 244px;
      padding: 23px 23px 48px 23px;
      color: #292929;
      text-decoration: none; }
      @media only screen and (max-width: 768px) {
        .products .product__box.content section a {
          padding: 0;
          width: 100%; }
          .products .product__box.content section a img {
            width: 100%; } }
    .products .product__box.content h2 {
      margin-bottom: 11px;
      font-size: 1.8rem; }
      @media only screen and (max-width: 768px) {
        .products .product__box.content h2 {
          padding: 0 10px; }
          .products .product__box.content h2 img {
            zoom: .5; } }
    .products .product__box.content ul {
      width: 1002px;
      margin: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      @media only screen and (max-width: 768px) {
        .products .product__box.content ul {
          width: 100%;
          margin-bottom: 20px; } }
    .products .product__box.content .products__neo li {
      width: 958px;
      margin-right: 0px;
      position: relative; }
      @media only screen and (max-width: 768px) {
        .products .product__box.content .products__neo li {
          width: 100%; } }
      .products .product__box.content .products__neo li p {
        overflow: hidden;
        width: 913px;
        padding-top: 8px; }
        @media only screen and (max-width: 768px) {
          .products .product__box.content .products__neo li p {
            width: 100%;
            padding-top: 0; } }
      .products .product__box.content .products__neo li a {
        width: 913px;
        padding-bottom: 0; }
        @media only screen and (max-width: 768px) {
          .products .product__box.content .products__neo li a {
            width: 100%; } }
    .products .product__box.content .products__monthly, .products .product__box.content .products__conven {
      width: 292px;
      float: left;
      margin-right: 40px; }
      @media only screen and (max-width: 768px) {
        .products .product__box.content .products__monthly, .products .product__box.content .products__conven {
          width: 49%;
          margin-right: 2%; }
          .products .product__box.content .products__monthly li, .products .product__box.content .products__conven li {
            width: 100%; } }
    .products .product__box.content .products__conven {
      margin-right: 0; }
    .products .product__box.content .products__shop {
      position: absolute;
      bottom: 0;
      left: 0; }
      .products .product__box.content .products__shop a {
        padding: 0;
        z-index: 10;
        display: inline-block;
        margin-bottom: 33px; }
  .products__name {
    padding-top: 17px; }
  .products__copy {
    padding: 7px 4px 19px 4px;
    font-size: 11px;
    line-height: 20px; }
  .products__list {
    position: absolute;
    bottom: 24px; }
  @media only screen and (max-width: 768px) {
    .products .detail {
      padding-bottom: 10px; } }
  .products .detail img {
    padding: 0 15px; }
    @media only screen and (max-width: 768px) {
      .products .detail img {
        max-width: 100%; } }
  .products__item img {
    zoom: .5; }

/*------------------------------------------------------------
Page Sub
------------------------------------------------------------*/
.products__top {
  width: 100%;
  margin-bottom: 14px; }
  @media only screen and (max-width: 768px) {
    .products__top {
      padding: 0 20px;
      text-align: center; } }
  .products__top h2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .products__top h2 {
        text-align: left; } }
  @media only screen and (max-width: 768px) {
    .products__top p {
      text-align: center; }
    .products__top img {
      max-width: 100%;
      zoom: .5; }
      .products__top img.link {
        margin: 20px auto 0 auto; }
    .products__top a {
      width: 100%;
      text-align: center;
      margin: 6px auto 20px auto; }
      .products__top a img {
        zoom: 80%; } }

.products__content {
  border-bottom: 1px solid #d5dadf;
  padding-bottom: 50px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .products__content {
      padding: 5px 10px 20px;
      text-align: center; } }
  .products__content h3 {
    padding: 30px 0 20px;
    text-align: left; }
    @media only screen and (max-width: 768px) {
      .products__content h3 {
        padding: 10px 0 10px; }
        .products__content h3 img {
          max-width: 100%;
          zoom: .5; } }
  .products__content p {
    font-size: 12px;
    line-height: 28px;
    padding-bottom: 28px; }
    @media only screen and (max-width: 768px) {
      .products__content p {
        line-height: 18px;
        text-align: left;
        padding-bottom: 20px; } }
  .products__content h2 {
    padding: 52px 0 18px; }
    @media only screen and (max-width: 768px) {
      .products__content h2 {
        text-align: left;
        padding: 15px 0 15px; } }
  .products__content:last-child {
    border-bottom: none;
    padding-bottom: 0; }

.products__flex {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .products__flex {
      display: block;
      text-align: center;
      padding-bottom: 25px; }
      .products__flex img {
        max-width: 80%;
        padding: 0 15px;
        margin: 0 auto; } }
  .products__flex p {
    padding-right: 30px; }
    @media only screen and (max-width: 768px) {
      .products__flex p {
        padding-right: 0;
        margin-bottom: 10px;
        text-align: left; } }
  .products__flex:last-child {
    padding-bottom: 0; }
  .products__flex ul {
    margin-top: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .products__flex ul {
        width: 100%; }
        .products__flex ul.pc {
          display: none; }
        .products__flex ul.sp {
          display: inline-block; } }
  .products__flex li {
    width: 47%;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .products__flex li {
        width: 100%; }
        .products__flex li:nth-child(2) {
          border-bottom: 1px solid #7faed3; } }
  @media only screen and (max-width: 768px) {
    .products__flex .btn {
      cursor: pointer;
      text-align: left;
      border-top: 1px solid #7faed3;
      background: url("../img/products/mobile/color_bg.gif") right center no-repeat;
      background-size: 100%; }
      .products__flex .btn.is-open {
        background: url("../img/products/mobile/color_bg_o.gif") right center no-repeat;
        background-size: 100%;
        border-bottom: 1px solid #7faed3;
        margin-bottom: 15px; }
      .products__flex .btn img {
        max-width: 90%;
        zoom: .5;
        width: auto; }
      .products__flex .btn.border-bt {
        border-bottom: 1px solid #7faed3; } }

.products__flex--rve {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-bottom: 35px; }
  @media only screen and (max-width: 768px) {
    .products__flex--rve {
      display: block;
      text-align: center;
      padding-bottom: 25px; } }
  .products__flex--rve:last-child {
    padding-bottom: 0; }
  .products__flex--rve p {
    padding-left: 30px; }
    @media only screen and (max-width: 768px) {
      .products__flex--rve p {
        padding-left: 0;
        margin-bottom: 10px;
        text-align: left; } }
    .products__flex--rve p.pl0 {
      padding-left: 0; }
  @media only screen and (max-width: 768px) {
    .products__flex--rve img {
      max-width: 80%;
      margin: 0 auto; } }

@media only screen and (max-width: 768px) {
  .products__color ul {
    display: inline-block;
    width: 100%; }
  .products__color li {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .products__color .btn {
    cursor: pointer;
    text-align: left;
    border-top: 1px solid #7faed3;
    background: url("../img/products/mobile/color_bg.gif") right center no-repeat;
    background-size: 100%; }
    .products__color .btn.is-open {
      background: url("../img/products/mobile/color_bg_o.gif") right center no-repeat;
      background-size: 100%;
      border-bottom: 1px solid #7faed3; }
    .products__color .btn img {
      max-width: 90%;
      zoom: .5; }
    .products__color .btn.border-bt {
      border-bottom: 1px solid #7faed3; } }

.products__color li:nth-child(1) {
  width: 347px;
  float: left;
  margin-top: 16px;
  background: url("../img/products/vifuv/line_dot_h.gif") repeat-y center right; }
  .products__color li:nth-child(1) p {
    width: 305px; }
    @media only screen and (max-width: 768px) {
      .products__color li:nth-child(1) p {
        width: 100%; } }
  @media only screen and (max-width: 768px) {
    .products__color li:nth-child(1) {
      width: 100%;
      background: none;
      padding-bottom: 0; } }

.products__color li:nth-child(2) {
  width: 314px;
  float: right;
  margin-top: 16px; }
  @media only screen and (max-width: 768px) {
    .products__color li:nth-child(2) {
      width: 100%;
      padding-bottom: 0;
      margin-top: 0; }
      .products__color li:nth-child(2) .btn {
        border-bottom: 1px solid #7faed3; } }

@media only screen and (max-width: 768px) {
  .products__color li img {
    max-width: 100%; } }

.products__color p {
  padding-top: 15px; }

.products__right {
  text-align: right; }
  .products__right p {
    text-align: left; }

.products__point {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .products__point {
      display: inline-block; }
      .products__point .img_l {
        width: 30%;
        float: left;
        margin: 10px 20px 0 0; } }
  .products__point li {
    position: relative;
    margin-top: 50px;
    width: 224px;
    float: left; }
    @media only screen and (max-width: 768px) {
      .products__point li {
        width: 100%;
        margin-top: 20px; }
        .products__point li:nth-child(1) {
          margin-top: 10px; } }
    .products__point li:nth-child(2) {
      width: 243px; }
      @media only screen and (max-width: 768px) {
        .products__point li:nth-child(2) {
          width: 100%; } }
    .products__point li:nth-child(3) {
      width: 223px; }
      @media only screen and (max-width: 768px) {
        .products__point li:nth-child(3) {
          width: 100%; } }
    .products__point li:last-child:after {
      background: none; }
    .products__point li:after {
      content: '';
      background: url(../img/products/prime/line_dot_h.gif) repeat-y center;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1; }
      @media only screen and (max-width: 768px) {
        .products__point li:after {
          background: none; } }
    .products__point li p {
      font-size: 12px;
      line-height: 24px;
      padding: 15px 20px 0;
      min-height: 135px; }
      @media only screen and (max-width: 768px) {
        .products__point li p {
          min-height: auto;
          line-height: 18px;
          text-align: left;
          padding: 10px 20px 0 36%; } }
    .products__point li.left {
      width: 225px; }
      .products__point li.left h3 {
        padding: 2px 0 0 0; }
      .products__point li.left p {
        padding: 15px 15px 0 0; }
    .products__point li.center {
      width: 244px; }
      .products__point li.center h3 {
        padding: 2px 0 0 20px; }
    .products__point li.right h3 {
      padding: 2px 0 0 20px; }
    .products__point li.right p {
      padding: 15px 0 0 20px; }
  .products__point h3 {
    padding: 0; }
    @media only screen and (max-width: 768px) {
      .products__point h3 {
        clear: both;
        display: block; } }
  @media only screen and (max-width: 768px) {
    .products__point img {
      max-width: 100%; } }
  .products__point--2x li {
    width: 50% !important; }
    @media only screen and (max-width: 768px) {
      .products__point--2x li {
        width: 100% !important; }
        .products__point--2x li .img_l {
          margin: 0; } }
    .products__point--2x li h3 {
      padding: 0; }
      @media only screen and (max-width: 768px) {
        .products__point--2x li h3 {
          padding: 0 10px; } }
    .products__point--2x li p {
      width: 330px;
      padding-left: 54px;
      min-height: 90px; }
      @media only screen and (max-width: 768px) {
        .products__point--2x li p {
          width: 100%; } }
  .products__point--2x img {
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .products__point--2x img {
        margin: 10px 0 0; } }

.products__data {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .products__data {
      display: block; } }
  .products__data table {
    width: 346px;
    border-top: 1px solid #d5dadf;
    font-size: 12px;
    line-height: 20px;
    border-collapse: collapse; }
    @media only screen and (max-width: 768px) {
      .products__data table {
        font-size: 1.1rem;
        width: 100%; } }
  .products__data th {
    width: 120px;
    border-bottom: 1px solid #d5dadf;
    border-left: 1px solid #d5dadf;
    background: #f5f5f5;
    padding: 10px 0 7px 15px;
    text-align: left;
    vertical-align: top; }
    @media only screen and (max-width: 768px) {
      .products__data th {
        width: 37%;
        padding: 10px 7px 7px 7px; } }
  .products__data td {
    border-bottom: 1px solid #d5dadf;
    border-left: 1px solid #d5dadf;
    border-right: 1px solid #d5dadf;
    padding: 10px 5px 7px 13px;
    vertical-align: top; }
    @media only screen and (max-width: 768px) {
      .products__data td {
        font-size: 1.1rem;
        text-align: left;
        padding: 10px 5px 7px 4px;
        white-space: nowrap; } }

.products__package {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .products__package a {
    display: block; }
    @media only screen and (max-width: 768px) {
      .products__package a {
        margin-top: 15px; } }
  @media only screen and (max-width: 768px) {
    .products__package img {
      max-width: 100%; } }

.products__main {
  border-bottom: 1px solid #d5dadf;
  padding-bottom: 50px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .products__main {
      text-align: center; } }
  .products__main h3 {
    padding: 30px 0 20px; }
    @media only screen and (max-width: 768px) {
      .products__main h3 {
        padding-top: 15px;
        text-align: left;
        padding: 10px 15px; }
        .products__main h3 img {
          zoom: .5; } }
    .products__main h3.pt0 {
      padding-top: 0; }
  .products__main p {
    font-size: 12px;
    line-height: 28px;
    padding-bottom: 28px; }
    @media only screen and (max-width: 768px) {
      .products__main p {
        line-height: 18px;
        text-align: left;
        padding: 10px 15px; } }
    .products__main p.p0 {
      padding: 0; }
      @media only screen and (max-width: 768px) {
        .products__main p.p0 {
          padding: 0 10px; } }
  .products__main h2 {
    padding: 52px 0 18px; }
    @media only screen and (max-width: 768px) {
      .products__main h2 {
        text-align: left;
        padding: 15px 15px 15px; }
        .products__main h2 img {
          zoom: .8; } }
  .products__main:last-child {
    border-bottom: none; }
  @media only screen and (max-width: 768px) {
    .products__main li {
      padding-bottom: 0; } }
  .products__main li:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%; }
    @media only screen and (max-width: 768px) {
      .products__main li:after {
        background: none; } }
  .products__main li:last-child:after {
    background: none; }
  .products__main li.width-4 {
    width: 347px;
    background: url("../img/products/realuv/line_dot_h.gif") top right repeat-y; }
  .products__main li.pb0 {
    padding-bottom: 0; }
  .products__main .ttl {
    padding-bottom: 15px; }
    @media only screen and (max-width: 768px) {
      .products__main .ttl {
        padding-bottom: 0; } }
  .products__main .width-1, .products__main .width-2, .products__main .width-3 {
    float: left;
    background: url("../img/products/realuv/line_dot_h.gif") top right repeat-y;
    min-height: 220px; }
    .products__main .width-1 img, .products__main .width-2 img, .products__main .width-3 img {
      margin: 0 auto;
      display: block; }
    .products__main .width-1 h4, .products__main .width-2 h4, .products__main .width-3 h4 {
      font-size: 1.1rem;
      font-weight: normal;
      padding: 15px 0 0 0;
      text-align: center; }
    .products__main .width-1 p, .products__main .width-2 p, .products__main .width-3 p {
      font-size: 1.1rem;
      line-height: 20px; }
  .products__main .width-1 {
    width: 225px; }
    .products__main .width-1 p {
      padding-right: 22px; }
  .products__main .width-2 {
    width: 244px; }
    .products__main .width-2 p {
      padding: 0 22px; }
  .products__main .width-3 {
    width: 220px;
    background: none; }
    .products__main .width-3 p {
      padding-left: 17px; }
  @media only screen and (max-width: 768px) {
    .products__main .products__data {
      padding: 0 15px; } }
  .products__main .lh {
    line-height: 20px; }
  .products__main .pb0 {
    padding-bottom: 0; }

.products__brbot {
  background: url("../img/products/realuv/line_dot.gif") bottom left repeat-x;
  margin-bottom: 35px;
  padding-bottom: 35px; }
  @media only screen and (max-width: 768px) {
    .products__brbot {
      max-width: 100%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      background: transparent; } }

.products__brtop {
  position: relative;
  margin-top: 50px;
  padding-top: 35px; }
  @media only screen and (max-width: 768px) {
    .products__brtop {
      margin-top: 0; } }
  .products__brtop .left {
    padding-right: 0;
    padding-left: 30px; }
    @media only screen and (max-width: 768px) {
      .products__brtop .left {
        padding: 0 15px; } }
  .products__brtop:after {
    content: '';
    background: url(../img/products/vifuv/line_dot_b.gif) repeat-x center;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 768px) {
      .products__brtop:after {
        background: none; } }

.products__btn {
  margin-top: 55px;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .products__btn {
      padding: 0 30px 40px;
      margin-top: 40px;
      border-bottom: 1px solid #d5dadf; }
      .products__btn img {
        max-width: 100%; } }

.products__shop {
  padding: 20px 0 25px;
  margin-top: 40px;
  text-align: center; }
  .products__shop p {
    font-size: 1.2rem;
    line-height: 20px;
    padding: 0 10px;
    text-align: left; }
  @media only screen and (max-width: 768px) {
    .products__shop {
      margin-top: 0;
      border-bottom: 1px solid #d5dadf; }
      .products__shop p {
        padding-bottom: 15px; }
      .products__shop img {
        zoom: .5;
        max-width: 100%; } }

#realuv_toric .products__main .img {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 35px;
  background: url(../img/products/aqua/line_dot.gif) left bottom repeat-x; }
  @media only screen and (max-width: 768px) {
    #realuv_toric .products__main .img {
      background: none; }
      #realuv_toric .products__main .img img {
        max-width: 100%; } }

/*------------------------------------------------------------
SLIDER PRODUCT MOBILE 
------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .products__linkproduct {
    margin: 15px; }
    .products__linkproduct h2 img {
      max-width: 100%;
      zoom: .5; }
    .products__linkproduct .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 30px; }
      .products__linkproduct .slick-dots li {
        margin: 0 4px; }
  .products__carousel {
    padding-top: 30px;
    overflow: hidden;
    position: relative; }
  .products__item {
    padding: 0 2%;
    cursor: pointer;
    text-align: center; }
    .products__item img {
      max-width: 100%; }
  .products li button {
    background: transparent;
    text-indent: -9999px;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    width: 5px;
    border: transparent;
    background: #e7e7e7;
    padding: 3px;
    cursor: pointer; }
    .products li button:hover {
      background: #699ec7; }
  .products li.slick-active button {
    background: #699ec7; }
  .products .slick-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    border: none;
    cursor: pointer; }
    .products .slick-arrow img {
      max-width: 100%;
      zoom: .5; }
    .products .slick-arrow.products__next {
      right: 0;
      left: auto; } }
