@charset "UTF-8";
/*------------------------------------------------------------
Index
------------------------------------------------------------*/
._blank {
  position: relative;
}

._blank:before {
  content: "";
  position: absolute;
  bottom: 2px;
  right: -13px;
  border-bottom: 1px solid #555;
  border-left: 1px solid #555;
  width: 6px;
  height: 6px;
}

._blank:after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -17px;
  border: 1px solid #555;
  width: 7px;
  height: 7px;
}

.recipe-section {
  margin-top: 40px;
}

.recipe__inner {
  background: url("../images/5.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.recipe__calendar {
  width: 520px;
}

.recipe__calendar .ttl {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.recipe__calendar .ttl img {
  float: left;
  margin-right: 25px;
}

.recipe__list {
  width: 520px;
  padding: 60px 0 60px 20px;
}

.recipe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border: 5px solid #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.recipe__item:last-child {
  margin-bottom: 0;
}

.recipe__item .img--r {
  width: 225px;
  overflow: hidden;
}

.recipe__item .img--r img {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.recipe__item .detail--l {
  padding: 25px 20px 20px 30px;
  width: 310px;
}

.recipe__item .detail--l .ttl {
  color: #e4002b;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #e4002b;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.recipe__item .detail--l .txt {
  font-size: 18px;
  font-weight: 500;
}

.recipe__item:hover .img--r img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.recipe__item:hover .detail--l .txt {
  text-decoration: underline;
  color: #e4002b;
}

.pick-up {
  margin: 60px 0 0 0;
}

.pick-up .box-l {
  width: 650px;
}

.pick-up .box-l .img img {
  width: 100%;
}

.pick-up .box-r {
  width: 503px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pick-up .box-r .item {
  width: 235px;
  margin-bottom: 70px;
}

.pick-up .box-r .item .img {
  height: 165px;
}

.pick-up .box-r .item img {
  width: 100%;
}

.pick-up .item .img img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pick-up .item:hover .img img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.pick-up .item:hover .detail .txt {
  text-decoration: underline;
  color: #e4002b;
}

.pick-up .img {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 80px #f2f2f2 inset;
          box-shadow: 0 0 80px #f2f2f2 inset;
  overflow: hidden;
}

.pick-up .detail .ttl {
  padding: 0 0 6px;
  padding-left: 30px;
  position: relative;
  border-bottom: 1px solid #e4002b;
  display: inline-block;
  padding-bottom: 10px;
  color: #e4002b;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", "YakuHanJP", "BaseFont-JP", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.pick-up .detail .ttl img {
  width: 70px;
}

.pick-up .detail .ttl:after {
  content: "";
  background: url("../images/categoryicon_item_vegetables.png") left center no-repeat;
  position: absolute;
  background-size: cover;
  top: -7px;
  left: 0;
  width: 23px;
  height: 30px;
}

.pick-up .detail .ttl.recipe-ttl {
  padding-left: 37px;
}

.pick-up .detail .ttl.recipe-ttl:after {
  width: 32px;
  height: 34px;
  background: url("../images/ico_gnav_recipes_book.svg") left center no-repeat;
}

.pick-up .detail .txt {
  font-size: 18px;
  margin-top: 5px;
}

.banner-pic-up {
  margin-top: 80px;
}

.banner-pic-up .inner {
  width: 1040px;
  margin: 0 auto;
}

.banner-pic-up a {
  display: block;
  height: 120px;
  border: 1px solid #ddd;
}

.banner-pic-up a img {
  margin: -20px -70px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.banner-pic-up a:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.product-section {
  margin-top: 100px;
}

.product-mainSlide {
  margin-top: 40px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

.product__item {
  width: 25%;
  text-align: center;
  margin-bottom: 70px;
}

.product__item img {
  width: 155px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__item .caption {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  font-weight: 600;
  font-family: Roboto, YakuHanJP, BaseFont-JP, Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.product__item:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.product__item:hover .caption {
  color: #e4002b;
  text-decoration: underline;
}

.entertaiment-section {
  margin-top: 80px;
  padding-top: 80px;
  border-top: 1px solid #ddd;
}

.entertaiment-list {
  padding-top: 40px;
  padding-bottom: 30px;
}

.entertaiment__item {
  width: 265px;
}

.entertaiment__item .img {
  overflow: hidden;
}

.entertaiment__item .img img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.entertaiment__item .ttl {
  color: #e4002b;
  display: inline-block;
  border-bottom: 1px solid #e4002b;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.entertaiment__item .txt {
  font-size: 18px;
  line-height: 1.7;
}

.entertaiment__item:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.entertaiment__item:hover .txt {
  text-decoration: underline;
  color: #e4002b;
}

.news-section {
  margin-top: 80px;
  padding-top: 80px;
  border-top: 1px solid #ddd;
}

.news__list {
  width: 840px;
  margin: 40px auto 100px;
  border-bottom: 1px solid #ddd;
}

.news__list li {
  border-top: 1px solid #ddd;
}

.news__list li a {
  padding: 15px 0;
  display: block;
}

.news__list li:hover .title {
  color: #e4002b;
  text-decoration: underline;
}

.news__list .cat {
  background: #e4002b;
  color: #fff;
  font-size: 14px;
  max-width: 100px;
  width: 100%;
  padding: 5px 0;
  right: 5px;
  display: inline-block;
  text-align: center;
}

.news__list .time {
  color: #e4002b;
  margin-left: 20px;
}

.news__list .title {
  font-size: 16px;
  color: #000;
  margin-top: 10px;
}
/*# sourceMappingURL=../maps/top.css.map */
